html {
    box-sizing: border-box;
}


body {
    margin: 0;
    min-height: 100vh;
    place-content: center;
    background: #000000;
    background: repeating-radial-gradient(circle farthest-corner at center center, #000000 0%, #00ff00 20%);
    background: -webkit-repeating-radial-gradient(circle farthest-corner at center center, #000000 0%, #00ff00 20%);
    background: -moz-repeating-radial-gradient(circle farthest-corner at center center, #000000 0%, #00ff00 20%);

}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: black;
}

h1 {
    position: relative;
}

/* Footer */

footer {
    color: whitesmoke;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: hsl(0, 0%, 20%);
    font-size: 1.5rem;
    transition: color 0.3s;

}

.social-icons a:hover {
    color: hsl(0, 0%, 50%);

}