body {
    display: flex;
    justify-content: center;
    box-sizing: border-box1



}

#container {
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    color: whitesmoke;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1765734208128-b3c05bc25204?q=80&w=1315&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}



button {
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    bottom: 20px;
    border-radius: 30px;
}